# Dictionary Datatype

In [3]:
a = {'name': "John", 'age': 24, 'location':"hyd" }
print(a)
print(type(a))

{'name': 'John', 'age': 24, 'location': 'hyd'}
<class 'dict'>

In [5]:
# Get all the keys
print("Keys:" , a.keys())

#Get all values
print("Values:" , a.values())

# GEt all the items
print("Items :" , a.items())

Keys: dict_keys(['name', 'age', 'location'])
Values: dict_values(['John', 24, 'hyd'])
Items : dict_items([('name', 'John'), ('age', 24), ('location', 'hyd')])

In [8]:
a = {'a':23, 'a':[1,2,3],(1,2,3) : 'b' , 1: 'c'}

In [11]:
b = {1:'b' , 1:'a' , 2:'a'}
print(b)
print(type(b))

{1: 'a', 2: 'a'}
<class 'dict'>

In [17]:
student = {'name': "John", 'age': 24}
print(student)

#Add new item
student['city'] = "Hyderabad"   # city--->Key , 'Hyderabad---> value
print(student)

# Update age value
student['age'] = 30
print(student)

#Remove name
del student['name']
print(student)

{'name': 'John', 'age': 24}
{'name': 'John', 'age': 24, 'city': 'Hyderabad'}
{'name': 'John', 'age': 30, 'city': 'Hyderabad'}
{'age': 30, 'city': 'Hyderabad'}

In [20]:
# Indexed by keys

student = {'name': "John", 'age': 24}
print(student)
print(student['name'])

{'name': 'John', 'age': 24}
John

In [28]:
student = {'name': "John", 'age': 24}
print(student)
a = list(student.keys())
print(a)
print(type(a))
print(a[0])

b = list(student.values())
print(type(b))
print(b)

{'name': 'John', 'age': 24}
['name', 'age']
<class 'list'>
name
<class 'list'>
['John', 24]

In [29]:
student = {'name': "John", 'age': 24}
print(type(student))

<class 'dict'>

In [30]:
a = dict({'name': "John", 'age': 24})
print(a)
print(type(a))

{'name': 'John', 'age': 24}
<class 'dict'>

In [35]:
student = {'name': "John", 'age': 24 , 'salary':25000 , 'company':"Wipro" }
print(student)
print("name:%s" %student["name"])
print("age:%d" %student["age"])
print("salary:%d" %student["salary"])
print("company:%s" %student["salary"])

{'name': 'John', 'age': 24, 'salary': 25000, 'company': 'Wipro'}
name:John
age:24
salary:25000
company:25000

In [39]:
d = {}
print(d)
d["name"] = "john"
d["age"] = 23
print(d)

{}
{'name': 'john', 'age': 23}

# Dictionary methods

In [44]:
student = {'name': "John", 'age': 24 , 'salary':25000}
print(student)

# get() -----> Returns the value for a given key
print(student.get("name"))
print(student.get("country"))
# Default value if key is not present in dictionary
print(student.get("country" , "Not Found"))

{'name': 'John', 'age': 24, 'salary': 25000}
John
None
not found

In [52]:
# update()----> Adds or updates key_value pairs
student = {'name': "John", 'age': 24 , 'salary':25000}
print(student)

student.update({'age': 30})
print(student)

student.update({'age': 30 , 'salary':3000000})
print(student)

# adding item using update()

student.update({"country": "India"})
print(student)

{'name': 'John', 'age': 24, 'salary': 25000}
{'name': 'John', 'age': 30, 'salary': 25000}
{'name': 'John', 'age': 30, 'salary': 3000000}
{'name': 'John', 'age': 30, 'salary': 3000000, 'country': 'India'}

In [55]:
#copy() ----> Creates the copy of the dictionary
#del b
#print(b)


b = student.copy()
print(b)

{'name': 'John', 'age': 30, 'salary': 3000000, 'country': 'India'}

In [58]:
# removes a key and return its value
student = {'name': "John", 'age': 24 , 'salary':25000}
print(b)
b_pop = student.pop("age")
print(student)
print(b_pop) # Returns the value of the age

{'name': 'John', 'age': 30, 'salary': 3000000, 'country': 'India'}
{'name': 'John', 'salary': 25000}
24

In [60]:
#popitem() ---> Removes and returns the last inserted key-value pair

student = {'name': "John", 'age': 24 , 'salary':25000}
print(student)
s_popitem = student.popitem()
print(student)
print(s_popitem)

{'name': 'John', 'age': 24, 'salary': 25000}
{'name': 'John', 'age': 24}
('salary', 25000)

In [62]:
a = ['a','b','c']   # Keys
b = ['apple' , 'baanana', 'carrot']   #Values

d = dict(zip(a,b))
print(d)

{'a': 'apple', 'b': 'baanana', 'c': 'carrot'}

In [63]:
# enumerate ----> Dictionary wiht index as key

a = ['apple' , 'baanana', 'carrot']
d1 = dict(enumerate(a))
print(d1)

{0: 'apple', 1: 'baanana', 2: 'carrot'}

In [65]:
student = {'name': "John", 'age': 24 , 'salary':25000}
print(student)

student.clear()
print(student)

{'name': 'John', 'age': 24, 'salary': 25000}
{}

# SET Data Type

In [66]:
s = {1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [68]:
s = {1,1.5,1+3j,"hello"}
print(type(s))

<class 'set'>

In [69]:
s1 = set([1,2,3])
print(s1)

{1, 2, 3}

In [70]:
s = {1,2,2,3}
print(s)

{1, 2, 3}

In [72]:
a = {}
print(type(a))
a = set({})
print( type(a))

<class 'dict'>
<class 'set'>

In [73]:
# unordered 
fruits = {'apple','banana','mango','orange'}
print(fruits)

{'apple', 'orange', 'banana', 'mango'}

In [75]:
# unindexed
s = {1,2,3,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [77]:
s = {1,1.5,1+3j,"hello",(1,2,3,4)}
print(s)
print(type(s))

{(1, 2, 3, 4), 1, 1.5, 'hello', (1+3j)}
<class 'set'>

In [78]:
s = {1,1.5,1+3j,"hello",(1,2,3,4),[1,2]}
print(s)

TypeError: unhashable type: 'list'

In [81]:
## Adding elements


subjects  = {'physics' , 'biology' , 'chemistry'}
print("original set:" , subjects)

# add() ---> adds only one element
subjects.add("math")
print(subjects)

#update() ----> adds muliple elements
subjects.update(["computer" , "english"])
print(subjects)

original set: {'chemistry', 'biology', 'physics'}
{'chemistry', 'biology', 'math', 'physics'}
{'chemistry', 'math', 'computer', 'physics', 'biology', 'english'}

In [87]:
## removing elements
subjects = {'chemistry', 'math', 'computer', 'physics', 'biology', 'english'}
print(subjects)
subjects.remove('math')
print(subjects)
subjects.discard('biolog')
print(subjects)
subjects.discard('chemistry')
print(subjects)

{'chemistry', 'math', 'computer', 'physics', 'english', 'biology'}
{'chemistry', 'computer', 'physics', 'english', 'biology'}
{'chemistry', 'computer', 'physics', 'english', 'biology'}
{'computer', 'physics', 'english', 'biology'}

In [89]:
subjects = {'computer', 'physics', 'english', 'biology'}
b = subjects.pop()
print(b)
print(subjects)

biology
{'computer', 'physics', 'english'}

In [90]:
# clear()
subjects.clear()
print(subjects)

set()

In [1]:
# copy()
a ={1,2,3}
b = a.copy()
print(b)

{1, 2, 3}

In [3]:
# isdisjoint() ----> checks if two sets have no  elements in common
a = {1,2,3}
b = {2,3,5}
print(a.isdisjoint(b))

c= {1,2,3}
d = {5,6,7}
print(c.isdisjoint(d))

False
True

In [4]:
# issubset() ---> checks if all elements of one set are presint in another
a = {1,2,3}
b = {1,2,3,4}
print(a.issubset(b))

True

# Set Operations

In [5]:
# union
a = {1,2,3}
b = {2,3,4,5}

print("Union of sets:",a|b)
print("Union of sets:",a.union(b))

Union of sets: {1, 2, 3, 4, 5}
Union of sets: {1, 2, 3, 4, 5}

In [7]:
# intersection
a = {1,2,3}
b = {2,3,4,5}

print("intersection of sets:",a&b)
print("Intersection of sets:",a.intersection(b))

#intersection_update
a.intersection_update(b)
print(a)

intersection of sets: {2, 3}
Intersection of sets: {2, 3}
{2, 3}

In [12]:
# difference

a = {1,2,3}
b = {2,3,4,5}
print("difference between two sets:",a-b)
print("difference between two sets:",b-a)

print("difference between two sets with methods:",a.difference(b))
print("difference between two sets with methods:",b.difference(a))
a.difference_update(b)
print(a)

difference between two sets: {1}
difference between two sets: {4, 5}
difference between two sets with methods: {1}
difference between two sets with methods: {4, 5}
{1}

In [15]:
#symmetric differnce
a = {1,2,3}
b = {2,3,4,5}
print("symmetric difference between two sets:",a^b)
print("symmetric difference between two sets with methods:",a.symmetric_difference(b))

symmetric difference between two sets: {1, 4, 5}
symmetric difference between two sets with methods: {1, 4, 5}

## join() function

In [23]:
words = ["pyhon" , "is" , "awesome"]
sentence = " ".join(words)
print(sentence)
a = ['1','2','3']
b = "" .join(a)
print(b)

pyhon is awesome
123