# List Operations/ Methods

In [1]:
# Repetetion
a = [1,2,3,4,5,6]
print(type(a))
print(a*2)

<class 'list'>
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [2]:
# Comcatenation
a = [1,2,3,4,5,6]
b = [2,3,4,5,6,7]
print(a+b)

[1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7]

In [3]:
# append() ---> Adds an element to the end of the list
a = [1,2,3]
a.append(4) # Adds only single element
print(a)

[1, 2, 3, 4]

In [4]:
# extend() ---> Appends the elements of another list to current list
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [5]:
a = [1,2,3]
b = [4,5,6]
b.extend(a)
print(b)

[4, 5, 6, 1, 2, 3]

In [6]:
# insert() ---> Inserts an element at a specified index
a = [1,2,3]
a.insert(1,1.5)  # Insert(index_position,new_value)
print(a)

[1, 1.5, 2, 3]

In [7]:
# remove() ---> Removes the first occurence of specified index
a = [1,2,3,2,2,2]
a.remove(2)
print(a)

[1, 3, 2, 2, 2]

In [9]:
#index() ---> Returns the index of the first occurence of specified element
a = [1,2,3]
b = a.index(3)
print("Index position of 3 :",b)

Index position of 3 : 2

In [10]:
# count() ---> Returns the no.of occurences of a specified element in the list
a = [1,2,3,2,2,2]
b = a.count(2)
print(b)

4

In [11]:
# sort() ---> Sorts the list in ascending order
a = [1,4,5,3,2,6]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6]

In [13]:
# reverse() ---> REverse the order of elements in the list
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [14]:
# copy() ---> It creates the copy of the list
a = [1,2,3,4,5]
b = a.copy()
print(b)

[1, 2, 3, 4, 5]

In [16]:
# clear() ---> removes all the elements from the list
a = [1,2,3,4,5]
a.clear()
print(a)
#a.append(3)
#print(a)

[]
[3]

In [17]:
# min() ---> Returns the smallest elemnet in the list
# max() ---> Retruns the largest element in the list
a = [45,78,54,98,25]
b = min(a)
c = max(a)
print("min value:",b)
print("max value:",c)

min value: 25
max value: 98

In [19]:
# pop() ---> Removes and returns that elemnts
a = [1,2,3,4,5]
b = a.pop(1)
print(a)
print([b])

[1, 3, 4, 5]
[2]

### Deleting list

In [25]:
a = [10,20,30,40,50]
print(a)


# remove()
a.remove(30)
print(a)

#remove by index
a.pop(0)
print(a)

# delete by index
del a[1]
print(a)

# clear all elements
a.clear()
print(a)

# delete whole list data
del a
print(a)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]
[20, 40, 50]
[20, 50]
[]

NameError: name 'a' is not defined

# Tuple Data Type

In [26]:
a = (1,1.5,1+3j,"hello")
print(a)
print(type(a))

(1, 1.5, (1+3j), 'hello')
<class 'tuple'>

In [27]:
a = [1,2,3]
print(type(a))

<class 'list'>

In [28]:
a = 1,2,3
print(type(a))

<class 'tuple'>

In [29]:
a = ()
print(type(a))

<class 'tuple'>

In [30]:
a = (1)
print(type(a))

<class 'int'>

In [31]:
a = (1,)
print(type(a))

<class 'tuple'>

In [35]:
# Indexing()
a = (1,1.5,1+3j,"hello")
print(a[0])
print(a[1])
print(a[2])
print(a[3])
# negative indexing
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

1
1.5
(1+3j)
hello
hello
(1+3j)
1.5
1

In [38]:
# slicing
a = (10,20,30,40,50,60,70,)
print(a[0:4])
print(a[0:7:2])
print(a[-6:-2])
print(a[::-1])

(10, 20, 30, 40)
(10, 30, 50, 70)
(20, 30, 40, 50)
(70, 60, 50, 40, 30, 20, 10)

In [40]:
# Delete a tuple
a = (1,2,3,4,5)
del a
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3231787858.py, line 4)

In [45]:
# delete individual element from tuple by converting the list
a = (1,2,3,4,5)
b = list(a)
print(b)
b.remove(3)
print(b)
c = tuple(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
(1, 2, 4, 5)

In [46]:
# Immutable ---> we cannot change elements forming
# a = (1,2,3,4,5,6)
# a[2] = "hello"

In [47]:
# Nested tuple ---> tuple inside tuple
a = (1,2,"hello",(3,4,5),("apple","mango"),[1,2,3])
print(a[3])
print(a[3][1])
print(a[5])
a[5][1] = "hello"
print(a)
print(type(a))

(3, 4, 5)
4
[1, 2, 3]
(1, 2, 'hello', (3, 4, 5), ('apple', 'mango'), [1, 'hello', 3])
<class 'tuple'>

# Tuple Methods

In [48]:
a = (10,20,30,40,50)
print(type(a))

<class 'tuple'>

In [49]:
# count() ----> Returns the no of.times a specified value occurs in tuple
print("count of 20:" ,a.count(20))

count of 20: 1

In [50]:
# index() ---> returs the indesx of first occurence of a value
print("Index of 30:" , a.index(30))

Index of 30: 2

In [51]:
#len() ---> Returns the length of the tuple 
print(len(a))

5

In [53]:
# min() ---> returns the min value
# max() ---> returns the max value
print(min(a))
print(max(a))

10
50

In [54]:
# sum() ----> returns the sum of all elemnets
print("sum of tuple:",sum(a))

sum of tuple: 150

In [56]:
# sorted() ----> Returns the sorted list from tuple
a = (10,50,30,20,40)
print(sorted(a))
b = a[::-1]
print(b)

[10, 20, 30, 40, 50]
(40, 20, 30, 50, 10)

# Boolean DataType

In [57]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [58]:
y = False
print(y)
print(type(y))

False
<class 'bool'>

In [60]:
print(3<5)
print(2 == 4)

True
False

In [63]:
# Returns Fasle for values:
print(bool(0))
print(bool(0.0))
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(""))
print(bool(None))

False
False
False
False
False
False
False

In [64]:
print(bool(1))
print(bool("hello"))

True
True

In [67]:
# check if number is positive

num = int(input())
print(num>0)

 -2

False