In [2]:
# Find the length of the given string
a = "Dasari Chandu"
print(len(a))

13

In [3]:
# Convert the given string into lowercase
a = "CHandU"
print(a.lower())

chandu

In [4]:
# Convert the given string into uppercase
a = "innomatics"
print(a.upper())

INNOMATICS

In [5]:
# strip the spaces from a string
a = "     HelloWorld"
b = "HelloWorld     "
print(a.strip())
print(b.strip())

HelloWorld
HelloWorld

In [7]:
# Replace the charecters in string using replace()
a = "A boy is cute"
print(a.replace("boy" , "girl"))

A girl is cute

In [10]:
# Split the string by commas using slpit()
a = 'cat , dog , pig'
print(a.split(","))

['cat ', ' dog ', ' pig']

In [11]:
# Check weather string starts with given prefix using startswith()
a = "Data science"
print(a.startswith("Data"))

True

In [12]:
# Check weather string ends with given sufix using endswith()
a = "Im a good boy"
print(a.endswith("boy"))

True

In [14]:
# Find the index of given Stirng using find()
a = "Hello"
print(a.find('l'))

2

In [15]:
# Count the times a charecter appers in stirng using count()
a = "Bananaa"
print(a.count("a"))

4

In [16]:
# Check weather a string contains only alphabets using isalpha()
a = "Hello"
print(a.isalpha())

True

In [17]:
# Check weather a stirng contains only digits using isdigit()
a = '1234'
print(a.isdigit())

True

In [18]:
# Check weather a string contains both alphabetes and digits using isalnum()
a = "Hell123"
print(a.isalnum())

True

In [19]:
# Capitalize the first string element using capitalize()
a = "chandu"
print(a.capitalize())

Chandu

## Type casting

In [20]:
int(5.4)

5

In [21]:
float(5)

5.0

In [22]:
str(1234)

'1234'

In [23]:
complex(6)

(6+0j)

In [24]:
# An string cannot convert into int
int('chandu')

ValueError: invalid literal for int() with base 10: 'chandu'

## Format Function

In [25]:
name = "chandu"
age = 23
print("My name is:{} and Im {} old".format(name,age))

My name is:chandu and Im 23 old

In [2]:
# Type 2 using %
name = "chandu"
age  = 23
print("my name is:%sand age is:%d" %(name,age))

my name is:chanduand age is:23

In [4]:
# Using f string
a = "Harsha"
age = 23
print(f"the name  is:{a} and age is{age}")

the name  is:Harsha and age is23