## 1.for loop

In [1]:
#list

fruits = ['apple', 'banana', 'mango']

for i in fruits:
    print("I like:" , i)

I like: apple
I like: banana
I like: mango

In [2]:
# tuple example

colors = ("red" , "green" , "blue")

for i in colors:
    print(i)

red
green
blue

In [3]:
for i in range(1,15):
    print(i , end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [6]:
#stirng
for i in "Hello":
    print(i , end = ' ')

H e l l o

In [9]:
#set
animals = {'cat' , 'dog' , 'horse'}

for i in animals:
    print(i , end =' ')

dog cat horse

In [15]:
#dictionary
student = {'name':'john' , 'age':20 , 'grade':'a'}
for i in student:
    print(i)
print("----------------------")
for i in student.values():
    print(i)
print("-----------------------")
for keys, values in student.items():
    print(keys ,":" , values)

name
age
grade
----------------------
john
20
a
-----------------------
name : john
age : 20
grade : a

In [21]:
numbers = [2,4,6,8,10]

result = 0
for i in numbers:
    result += i
print(result)

30

In [19]:
numbers = [2,4,6,8,10]

result = 0

for i in numbers:
    result = result + i**2
    print(result)
print("sum of square:" , result)

4
20
56
120
220
sum of square: 220

In [22]:
# ennumarete() ---> gives index+ value
# zip() ----> combines multiple iterables into a tuple

In [24]:
# ennumerate()

names = ["A"  ,"B" ,"C"]
for index,name in enumerate(names):
    print(f"{index}:{name}")

0:A
1:B
2:C

In [25]:
#zip()
roll_no = [102,103,104]
students = ['A' , 'B' , 'C']

for r,s in zip(roll_no , students):
    print(f"Roll no: {r}, NAme: {s}")

Roll no: 102, NAme: A
Roll no: 103, NAme: B
Roll no: 104, NAme: C

In [28]:
#question

names = ["A" , "B" ,"C"]
marks = [95 , 94 ,97]
for n , s in zip(names,marks):
    print(f"{n} scored {s}")

A scored 95
B scored 94
C scored 97

In [31]:
#factorial

number = 10
result = 1

for i in range(1, number+1):
    result*= i
print(f"The factorial of {number} is {result}")

The factorial of 10 is 3628800

## while condition

In [2]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [1]:
i = 1

while i<= 10:
    print(i , end = " ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [8]:
i = 1

while i<51:
    if i%5 == 0 or i%7 == 0:
        print(i , end =' ')
    i += 1

5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50

In [9]:
# sum of all even numbers from 1 to 50 using while loop

num = 1
total_sum = 0

while num<= 50:
    if num % 2 == 0:
        total_sum += num
    num+=1
print("Sum of all even numbers from 1 to 50 is:",total_sum)

Sum of all even numbers from 1 to 50 is: 650

In [13]:
# multiplication table

num  = 5

result = 1
print("The multiplication table of:",num)

while result <= 10:
    s = num * result
    print(num , 'X' , result,'=', s)
    result += 1

The multiplication table of: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [16]:
# Guess the secrect number using while loop
secret_number = 7
guess = 0
while guess != secret_number:
    guess = int(input("Guess the number:"))
    if guess != secret_number:
        print("Try again")
print("Congratulations! you guessed secret number")

Guess the number: 6

Try again

Guess the number: 7

Congratulations! you guessed secret number

In [21]:
# Reverse a number using while loop
a = 123456
b = str(a)
c = (b[::-1])
print(c,type(c))
a =int(c)
print(a,type(a))

654321 <class 'str'>
654321 <class 'int'>

In [1]:
#### Reverse a number using while loop
num = int(input("Enter a number:"))
reverse = 0

while num>0:
    #get the list digit
    digit = num % 10
    reverse = reverse * 10 + digit
    num  = num//10
print("Reversed number:" , reverse)

Enter a number: 123456

Reversed number: 654321

In [5]:
#reverse a string using while loop
a = input("Enter the string:")
i = len(a)  - 1
while a!=0:
    rev = a.(i)
print(i)

Enter the string: rfde

AttributeError: 'str' object has no attribute 'append'

## Break statement

In [10]:
for i in range(1,6):
    print(i)
    if i == 3:
        
        break

1
2
3

In [6]:
numbers  = [11 , 53, 75, 42, 55]
for i in numbers:
    print(i)
    if i % 2 == 0:
        print("Even number found:" , i)
        break

11
53
75
42
Even number found: 42

In [7]:

num  = 1
while num < 6:
    print(num)
    if num == 3:
        break
    num+=1

1
2
3

In [2]:
numbers  = [11 , 53, 75, 42, 55,48] 

i = 0 # index value
while i < len(numbers):
    num = numbers[i]
    print(num)

    if num % 2 == 0:
        print("Even number found:" , num)
        break
    i+=1

11
53
75
42
Even number found: 42

## Continue Statement

In [3]:
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [4]:
count = 0

while count < 5:
    count +=1
    if count == 3:
        continue
    print(count)

1
2
4
5

## Pass statement

In [ ]:
#It is placeholder in python
#It does nothing when executed
# useful when you are planning to write code later

In [6]:
for i in range(5):
    if i == 3:
        pass
    else:
        print(i)

0
1
2
4

In [10]:
# Q1 : write a pyton program using for loop that takes 5 numbers as input from the user
for i in range(1,6):
    num = int(input(f"enter number{i}: "))
    if num < 0:
        print("Negative number detected")
        break
    else:
        print("You entred:" , num)

enter number1:  1

You entred: 1

enter number2:  -2

Negative number detected

In [4]:
#Q2 write python
num = 1
while num in range(1,11):
    if num%2 == 0:
        num+=1
        continue
    else:
        print(num)
    num +=1

1
3
5
7
9